.forecastTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dateInF {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #08153e;
  opacity: 0.6;
}

.temp {
  display: flex;
  flex-direction: row;
  margin-top: 27px;
}

.AvTemp {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 120px;
  color: #ffffff;
}

.Celsius {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.week {
  width: 642px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 48px;
}

.oneDay {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #08153e;

  opacity: 0.6;
}
.tempInWeek {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.oneTemp {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  display: flex;
}

.groupCelsius {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: #ffffff;
}
